.App {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Caveat", serif;
  font-size: 24px;
  padding: 20px;
}
.serch_container {
  display: flex;
  justify-content: center;
}
.search_input {
  font-family: "Roboto", serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  flex: 1;
  color: #333;
  margin-right: 15px;
  padding: 10px 15px;
}
.serch_container button {
  font-family: "Roboto", serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 0 20px;
}
.discrabe_repo {
  margin-top: 20px;
  color: #3849e6;
}
.list_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.list_wrap h2 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 1px;
}
.list_issues_cards {
  padding: 30px;
  background-color: hsl(240, 7%, 84%);
  border: 3px solid #000;
  width: 400px;
  height: 800px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 22px;
}

.no_issues {
  display: flex;
  justify-content: center;
}
.list_issues_cards.filled {
  height: auto;
}
.issue_card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 350px;
  border: 2px solid #000;
  border-radius: 30px;
}
.issue_card p {
  color: #333;
  font-family: "Roboto";
  font-size: 18px;
}
